{erl_opts, [debug_info]}.
{deps, [ranch, thoas]}.

{project_plugins, [rebar3_format, erlfmt]}.

{format, [
    {files, [
        "src/**/*.{hrl,erl,app.src}",
        "config/sys.config",
        "rebar.config"
    ]},
    {formatter, erlfmt_formatter}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [phfly]}
]}.

{relx, [
    {release, {phfly, "0.1.0"}, [phfly, sasl]},
    {dev_mode, true},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.
